/* General Styles */

.general-style-1{
	background-color: #f8ecc2;
	padding: auto;
}

/* Image Styles */

.corporationlogo img{
	padding: auto;
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 50%;
}

/* Navigation Styles */

.navbar-text{
	color: #000000;
}

/* Text Fonts */

.text-font-1 {
	font-family: 'Special Elite', cursive;
}
.text-font-2 {
	font-family: 'Audiowide', cursive;
	text-align: center;
	font-size: 15px;
	color: #ffadad;
}
.text-font-3 {
	font-family: 'Average Sans', sans-serif;
}
